<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftJSONParsing2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7877CF9E1C139FDF002C4332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7877CFB21C139FDF002C4332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7877CFBD1C139FE0002C4332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
